*{
    box-sizing: inherit;
}
:root{
    --collor: hsla(264, 48%, 85%, 1);
}

html{
    box-sizing: border-box;
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100%;
}
